<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        {{>header}} 
        <h3><i>{{title}}</i></h3>
        <img src="/img/spider man.jpg">
        {{>footer}}
        
    </body>
</html>