<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        {{>header}}
        {{!-- <h1><i>{{title}}</i></h1> --}}
        <img src="/img/Tiger.jpg">
        {{>footer}}
        
    </body> 
</html>