<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css">
    </head>
    <body>
        {{>header}}
        
        <img src="/img/Tiger.jpg">
        <br>
        <h3>{{title}}</h3>
        {{>footer}}
        
    </body> 
</html>